<%- include('./partials/_header.ejs') -%>
    <div id="myEvents"
    user-city="<%=(typeof usercity !== 'undefined') ? JSON.stringify(usercity) : '{}' %>"
    general-search="<%=(typeof generalSearchResults !== 'undefined') ? JSON.stringify(generalSearchResults) : '{}' %>"
    interest-search="<%=(typeof interestsearch !== 'undefined') ? JSON.stringify(interestsearch) : '{}' %>"
    created-event-message="<%=(typeof successMessage !== 'undefined') ? JSON.stringify(successMessage) : '{}' %>"
    search-results="<%=(typeof searchresults !== 'undefined') ? JSON.stringify(searchresults) : '{}' %>"
     data-user="<%=(typeof user !== 'undefined') ? JSON.stringify(user) : '{}' %>"
     category-data="<%=(typeof categories !== 'undefined') ? JSON.stringify(categories) : '{}'%>"
     user-events="<%=(typeof userEvents !== 'undefined') ? JSON.stringify(userEvents) : '{}'%>"
     trending-events="<%=(typeof trendingEvents !== 'undefined') ? JSON.stringify(trendingEvents) : '{}'%>"
     trending-categories="<%=(typeof popularCategories !== 'undefined') ? JSON.stringify(popularCategories) : '{}'%>"
     ></div>
<%- include('./partials/_footer.ejs') -%>

